.pad_top{
	padding: 50px 0px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #007bff;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: black;
}

.main{
	padding: 8rem 15px;
	padding-bottom: 3rem;
	
}

.main h1 {
	font-size: 3.5rem;
	font-weight: bold;
}

.main strong{
	font-weight: bold;
}

/* Section III. 아이콘 추가 */
.process, .curriculum, .project, .gallery, .contact{
	padding: 3rem 15px;
}

.process {
	margin-bottom: 3rem;
}

/* Section IV. 커리큘럽 추가 */

.curriculum h5{
	font-weight: bold; 
}

.modal-title {
	font-weight: bold;
}

.modal-body h6 {
	font-weight: bold;
}

.card-title {
	font-weight: bold;
}

/* Section V.  */
